h1 {
    font-family: 'Poppins', sans-serif;
}

.head {
    background-color: cornflowerblue;
}

.btn {
    background-color: aqua;
}

.card {
    background-color: cornflowerblue;
    color: white;
    text-align: center;
}

.forecast {
    background-color: cornflowerblue;
}